.container {
  width: 500px;
  height: 500px;
  background-color: #5ff3c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .child-blue {
  width: 200px;
  height: 200px;
  background-color: #15045f;
  background-color: blue;
}

.container .child-red {
  width: 100px;
  height: 100px;
  background-color: #d36516;
  background-color: red;
}

.container :hover {
  background-color: black;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

li:nth-child(1) {
  font-size: 10px;
}

li:nth-child(2) {
  font-size: 20px;
}

li:nth-child(3) {
  font-size: 30px;
}

li:nth-child(4) {
  font-size: 40px;
}

li:nth-child(5) {
  font-size: 50px;
}

li:nth-child(6) {
  font-size: 60px;
}

li:nth-child(7) {
  font-size: 70px;
}

li:nth-child(8) {
  font-size: 80px;
}

li:nth-child(9) {
  font-size: 90px;
}

li:nth-child(10) {
  font-size: 100px;
}

li:nth-child(11) {
  font-size: 110px;
}

li:nth-child(12) {
  font-size: 120px;
}

li:nth-child(13) {
  font-size: 130px;
}

li:nth-child(14) {
  font-size: 140px;
}

li:nth-child(15) {
  font-size: 150px;
}

li:nth-child(16) {
  font-size: 160px;
}

li:nth-child(17) {
  font-size: 170px;
}

li:nth-child(18) {
  font-size: 180px;
}

li:nth-child(19) {
  font-size: 190px;
}

li:nth-child(20) {
  font-size: 200px;
}

li:nth-child(21) {
  font-size: 210px;
}

li:nth-child(22) {
  font-size: 220px;
}

li:nth-child(23) {
  font-size: 230px;
}

li:nth-child(24) {
  font-size: 240px;
}

li:nth-child(25) {
  font-size: 250px;
}

li:nth-child(26) {
  font-size: 260px;
}

li:nth-child(27) {
  font-size: 270px;
}

li:nth-child(28) {
  font-size: 280px;
}

li:nth-child(29) {
  font-size: 290px;
}

li:nth-child(30) {
  font-size: 300px;
}

li:nth-child(31) {
  font-size: 310px;
}

li:nth-child(32) {
  font-size: 320px;
}

li:nth-child(33) {
  font-size: 330px;
}

li:nth-child(34) {
  font-size: 340px;
}

li:nth-child(35) {
  font-size: 350px;
}

li:nth-child(36) {
  font-size: 360px;
}

li:nth-child(37) {
  font-size: 370px;
}

li:nth-child(38) {
  font-size: 380px;
}

li:nth-child(39) {
  font-size: 390px;
}

li:nth-child(40) {
  font-size: 400px;
}

li:nth-child(41) {
  font-size: 410px;
}

li:nth-child(42) {
  font-size: 420px;
}

li:nth-child(43) {
  font-size: 430px;
}

li:nth-child(44) {
  font-size: 440px;
}

li:nth-child(45) {
  font-size: 450px;
}

li:nth-child(46) {
  font-size: 460px;
}

li:nth-child(47) {
  font-size: 470px;
}

li:nth-child(48) {
  font-size: 480px;
}

li:nth-child(49) {
  font-size: 490px;
}

li:nth-child(50) {
  font-size: 500px;
}

li:nth-child(51) {
  font-size: 510px;
}

li:nth-child(52) {
  font-size: 520px;
}

li:nth-child(53) {
  font-size: 530px;
}

li:nth-child(54) {
  font-size: 540px;
}

li:nth-child(55) {
  font-size: 550px;
}

li:nth-child(56) {
  font-size: 560px;
}

li:nth-child(57) {
  font-size: 570px;
}

li:nth-child(58) {
  font-size: 580px;
}

li:nth-child(59) {
  font-size: 590px;
}

li:nth-child(60) {
  font-size: 600px;
}

li:nth-child(61) {
  font-size: 610px;
}

li:nth-child(62) {
  font-size: 620px;
}

li:nth-child(63) {
  font-size: 630px;
}

li:nth-child(64) {
  font-size: 640px;
}

li:nth-child(65) {
  font-size: 650px;
}

li:nth-child(66) {
  font-size: 660px;
}

li:nth-child(67) {
  font-size: 670px;
}

li:nth-child(68) {
  font-size: 680px;
}

li:nth-child(69) {
  font-size: 690px;
}

li:nth-child(70) {
  font-size: 700px;
}

li:nth-child(71) {
  font-size: 710px;
}

li:nth-child(72) {
  font-size: 720px;
}

li:nth-child(73) {
  font-size: 730px;
}

li:nth-child(74) {
  font-size: 740px;
}

li:nth-child(75) {
  font-size: 750px;
}

li:nth-child(76) {
  font-size: 760px;
}

li:nth-child(77) {
  font-size: 770px;
}

li:nth-child(78) {
  font-size: 780px;
}

li:nth-child(79) {
  font-size: 790px;
}

li:nth-child(80) {
  font-size: 800px;
}

li:nth-child(81) {
  font-size: 810px;
}

li:nth-child(82) {
  font-size: 820px;
}

li:nth-child(83) {
  font-size: 830px;
}

li:nth-child(84) {
  font-size: 840px;
}

li:nth-child(85) {
  font-size: 850px;
}

li:nth-child(86) {
  font-size: 860px;
}

li:nth-child(87) {
  font-size: 870px;
}

li:nth-child(88) {
  font-size: 880px;
}

li:nth-child(89) {
  font-size: 890px;
}

li:nth-child(90) {
  font-size: 900px;
}

li:nth-child(91) {
  font-size: 910px;
}

li:nth-child(92) {
  font-size: 920px;
}

li:nth-child(93) {
  font-size: 930px;
}

li:nth-child(94) {
  font-size: 940px;
}

li:nth-child(95) {
  font-size: 950px;
}

li:nth-child(96) {
  font-size: 960px;
}

li:nth-child(97) {
  font-size: 970px;
}

li:nth-child(98) {
  font-size: 980px;
}

li:nth-child(99) {
  font-size: 990px;
}
/*# sourceMappingURL=style.css.map */